In [38]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
art = pd.read_csv("Art.csv")
artHood = art.groupby("neighborhood").count().reset_index()
artHood
n = 0
neighbor = ''
count = 0
while(n<len(artHood)):
    if(artHood.iloc[n][1] > count):
        neighbor = artHood.iloc[n][0]
        count = artHood.iloc[n][1]
    n = n+1

print(neighbor)

Central Business District

In [35]:
artHood.head(10)

,neighborhood,id,name,title,artist_name,art_type,park,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,Allegheny Center,18,18,18,17,18,11,18,18,18,18,18,18,18,18,18
1,Allegheny West,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,Allentown,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
3,Beechview,5,5,5,1,5,5,5,5,5,5,5,5,5,5,5
4,Beltzhoover,3,3,3,1,3,3,3,3,3,3,3,3,3,3,3
5,Bloomfield,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6,Brighton Heights,5,5,5,2,5,5,5,5,5,5,5,5,5,5,5
7,Brookline,2,2,2,1,2,2,2,2,2,2,2,2,2,2,2
8,Carrick,3,3,3,2,3,1,3,3,3,3,3,3,3,3,3
9,Central Business District,27,27,27,21,27,4,27,27,27,27,27,27,27,27,27